<p>
  examples works!
</p>
<div class="space-50"></div>
<div id="images">

    <div class="row">
        <div class="col-sm-2">
          
            <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
            <p class="category">Flyer</p>
        </div>
        <div class="col-sm-2">
          
            <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
            <p class="category">poster</p>
        </div>
        <div class="col-sm-2">
          
            <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
            <p class="category">Logo</p>
        </div>
        <div class="col-sm-2">
          
            <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
            <p class="category">Infographics</p>
        </div>
       
        <div class="col-sm-2">
          
            <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
            <p class="category">Flyer</p>
        </div>
        <div class="col-sm-2">
          
            <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
            <p class="category">Flyer</p>
        </div>
        <div class="col-sm-2">
          
            <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
            <p class="category">Flyer</p>
        </div>
        <div class="col-sm-2">
          
            <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
            <p class="category">Flyer</p>
        </div>
    </div>
</div>