<div class="section">
    <div class="container">
        <h3 class="title">Typography</h3>
        <div id="typography">
            <div class="row">
                <div class="col-md-12">
                   
                </div>
            </div>
        </div>
        <div class="space-50"></div>
        <div id="images">
            <h4>Images</h4>
            <div class="row">
                <div class="col-sm-2">
                    <p class="category">Image</p>
                    <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
                </div>
                <div class="col-sm-2">
                    <p class="category">Circle Image</p>
                    <img src="assets/img/avatar.jpg" alt="Circle Image" class="rounded-circle">
                </div>
                <div class="col-sm-2">
                    <p class="category">Raised</p>
                    <img src="assets/img/avatar.jpg" alt="Raised Image" class="rounded img-raised">
                </div>
                <div class="col-sm-2">
                    <p class="category">Circle Raised</p>
                    <img src="assets/img/avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-raised">
                </div>
            </div>
        </div>
      </div>
    </div>
